.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),  url(../../assets/home4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

section{
    padding: 2rem 7%;
}
.color-overlay{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    padding: 0 !important;
    position: absolute;
}

.hero .content{
    display: flex ;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}
.hero .content .hero-left{
    max-width: 60rem;
}
.hero .content .hero-right{
    border: 1px solid #fff;
    border-radius: 4px !important;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin-top: 6rem;
    margin-left: 10rem !important;
    justify-content: center;
    color: rgb(156, 156, 156);
    font-weight: normal;
    gap: 1rem;
}

.hero .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.hero .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;

}


@media (max-width: 991px) {
    section{
        padding: 2rem;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    .hero .content{
        flex-direction: column;
    }
    .hero .content .hero-right{
        padding: 2rem;
        margin-top: 6rem;
        margin-left: 0rem !important;
        justify-content: center;
        gap: .5rem;
    }
    .hero{
        background-position:  left;
        justify-content: center;
        text-align: center;
    }
    .hero h3{
        font-size: 4.5rem;
    }
    .hero p{
        font-size: 1.5rem;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
}
/* @media (max-width: 280px) {
    /* .hero .content .hero-left{
        max-width: 60rem;
    } */
    /* .hero .content .hero-left h3{
        margin-top: 6rem;
    } */
