:root{
    --main-color:#548CFF;
    --black: #FFFFFF;
    --bg:#fff;;
  
}

.featured{
    background: var(--black);
    
}
.featured .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 3rem;
    padding-bottom: 0px !important;
}

.featured .box-container .box{
    position: relative;
}
.featured .box-container .box .image{
    padding:  0;
    
}
.featured .box-container .box .image img{
    border-radius: .5rem;
    height: 45rem;
    width: 100%;
    object-fit: cover;
}
.featured .box-container .box .content{
    position: absolute;
    /* bottom: 4%; */
    width: 100%;
    bottom: 0%;
    color: #fff;   
    /* padding-left: 2rem; 
    padding-right: 2rem;  */
    padding: 2rem;
    padding-top: 1rem;
    background: rgb(0, 0, 0) !important;
    background: rgba(0, 0, 0, 0.5) !important; 
    opacity: 1 !important;
    border-radius: 4px !important;

}
.featured .box-container .box .content h3{
    font-size: 2.5rem;
    text-transform: uppercase ;
    color: #fff !important;
    font-weight: 400;
   
    
}
.featured .box-container .box .content p{
    color: #ccc;    
    font-size: 1.2rem;
    font-weight: 400;
    

}
.featured .box-container .box .content .buttons{
    display: flex;
    justify-content: space-between;
    background-color: none;
    
}
.featured .box-container .box .content .buttons .more{
      background-color: transparent;
      border: 1px solid var(--main-color);
} 